@charset "utf-8";
/* CSS Document */

body { 
font-family: "Arial Narrow", Sans-serif;
font-size: 20px;
}


a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    font-weight: bold;
}

div
{
    border-radius: 7px;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99998;
    height: 60px;
    width: 100%;
    background-color: #535f6b;
    margin-bottom: 30px;
}


#name {
    float: left;
    margin-left: 20px;
    padding-bottom: 15px;
    font-size: 25px;
    font-family: "Verdana", Sans-serif;
    color: #ffffff;
}

#email{
    float: right;
    margin-right: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    font-family: "Verdana", Sans-serif;
    color: #ffffff;
}

#contact
{
    margin-left:45%;
    padding-bottom: 10px;
    font-size: 20px;
    font-family: "Verdana", Sans-serif;
    color: #ffffff;
}

#experience {
    float: left;
    margin-top: 20px;
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 10px;
    height: auto;
    width: 98%;
    background-color: #a9afb5;
    position: relative;
    top: 10px;
    right: 2px;
    left: auto;
}

ul {
    list-style-type: none;
}

li {
    font-style: italic; 
}


h2 {
    font-size: 35px; 
	color: #000000;
  	text-shadow:
     0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
}

h3 {
    width: 325px;	
    letter-spacing: 0.2em;
    border-bottom: 4px solid #000;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
   

h4 {
    font-weight: bold;
}

#education {
    float: left;
    margin-top: 7px;
    margin-bottom: 60px;
    padding-left: 35px;
    padding-bottom: 10px;
    height: auto;
    width: 98%;
    background-color: #cbcfd2;
    position: relative;
    top: 10px;
    right: 2px;
    left: auto;
}

#footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 999999;
    height: 60px;
    font-size: 25px;
    width: 100%;
    background-color: #535f6b;
    margin-top: 30px;

}

#current {
    float: left;
    margin-left: 40px;
    padding-bottom: 15px;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
}

#aspiring {
    float:right;
    margin-right: 40px;
    padding-bottom: 10px;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
}
